<div class="Grid">

  <div class="Grid-col t-sm-widthHalf">
    <h3 class="t-alignCenter">in</h3>
{{#markdown}}
``` javascript
$('.foo')
  .on('animsition.inStart', function(){})
  .on('animsition.inEnd', function(){});
```
{{/markdown}}
  </div>
  <div class="Grid-col t-sm-widthHalf">
    <h3 class="t-alignCenter">out</h3>
{{#markdown}}
``` javascript
$('.foo')
  .on('animsition.outStart', function(){})
  .on('animsition.oytEnd', function(){});
```
{{/markdown}}

  </div>

</div>
