<header class="docs-Navbar" role="banner">
  <div class="Container Container--slim t-gutter">
    <nav class="docs-Nav t-clear">
      <a class="docs-Nav-brand animsition-link" href="{{file.meta.base_url}}">{{site.title}}</a>
      <ul class="t-pullRight ListInline">
        <li class="">
          <a href="{{site.repo_url}}">GitHub</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
