<header class="docs-Header" role="banner">
  <div class="Container Container--slim t-gutter">
    <nav class="docs-Nav t-clear">
      <ul class="ListInline">
        <li class="t-uppercase">
          <a class="animsition-link" href="{{file.meta.base_url}}">{{site.title}}</a>
        </li>
        <li class="t-right">
          <a href="{{site.repo_url}}">GitHub</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
