<div class="Grid">

  <div class="Grid-col t-wxs-width1of2">
    <h3 class="docs-subtitle t-alignCenter">animsition.start</h3>
{% highlight js %}
$(".animsition").animsition({
  // options
}).one('animsition.start',function(){
  ...
})
{% endhighlight %}
  </div>
  <div class="Grid-col t-wxs-width1of2">
    <h3 class="docs-subtitle t-alignCenter">animsiton.end</h3>
{% highlight js %}
$(".animsition").animsition({
  // options
}).one('animsition.end',function(){
  ...
})
{% endhighlight %}

  </div>

</div>
