<ul class="ListInline">
  <li><a href="{{ page.base_url }}sandbox/callback1.html" class="Button Button--pill Button--border is-notice">Callback1</a></li>
  <li><a href="{{ page.base_url }}sandbox/callback2.html" class="Button Button--pill Button--border is-notice">Callback2</a></li>
  <li><a href="{{ page.base_url }}sandbox/overlay1.html" class="Button Button--pill Button--border is-success">Overlay1</a></li>
  <li><a href="{{ page.base_url }}sandbox/overlay2.html" class="Button Button--pill Button--border is-success">Overlay2</a></li>
</ul>
