:root {
  --Button-transition: all 200ms ease-out;
  --Button--pill: 5rem;

  --Button-notice-fill: transparent;
  --Button-notice-borderColor: #7bc1eb;
  --Button-notice-color: #7bc1eb;
  --ButtonFill-notice-color: #fff;
  --ButtonFill-notice-bgColor: #7bc1eb;

  --Button-success-fill: transparent;
  --Button-success-borderColor: #15a780;
  --Button-success-color: #18be91;
  --ButtonFill-success-color: #fff;
  --ButtonFill-success-bgColor: #18be91;

  --Button-error-fill: transparent;
  --Button-error-borderColor: #e84239;
  --Button-error-color: #eb5850;
  --ButtonFill-error-color: #fff;
  --ButtonFill-error-bgColor: #eb5850;
}

.Button {
  transition: var(--Button-transition);
}
.Button--pill {
  border-radius: var(--Button--pill);
}

/* --notice */
.Button--notice {
  background-color: var(--Button-notice-fill);
  border-color: var(--Button-notice-borderColor);
  color: var(--Button-notice-color);
}
.Button--notice:matches(:hover,:focus,:active,.is-active) {
  background-color: var(--Button-notice-color);
  color: #fff;
  border-color: var(--Button-notice-borderColor);
}

.Button--fill.Button--notice {
  background-color:var(--ButtonFill-notice-bgColor);
  color:var(--ButtonFill-notice-color);
}
.Button--fill.Button--notice:matches(:hover,:focus,:active,.is-active) {
  background-color:transparent;
  color:var(--ButtonFill-notice-bgColor);
}

/* --success */
.Button--success {
  background-color: var(--Button-success-fill);
  border-color: var(--Button-success-borderColor);
  color: var(--Button-success-color);
}
.Button--success:matches(:hover,:focus,:active,.is-active) {
  background-color: var(--Button-success-color);
  color: #fff;
  border-color: var(--Button-success-borderColor);
}

.Button--fill.Button--success {
  background-color:var(--ButtonFill-success-bgColor);
  color:var(--ButtonFill-success-color);
}
.Button--fill.Button--success:matches(:hover,:focus,:active,.is-active) {
  background-color:transparent;
  color:var(--ButtonFill-success-bgColor);
}

/* --error */
.Button--error {
  background-color: var(--Button-error-fill);
  border-color: var(--Button-error-borderColor);
  color: var(--Button-error-color);
}
.Button--error:matches(:hover,:focus,:active,.is-active) {
  background-color: var(--Button-error-color);
  color: #fff;
  border-color: var(--Button-error-borderColor);
}

.Button--fill.Button--error {
  background-color:var(--ButtonFill-error-bgColor);
  color:var(--ButtonFill-error-color);
}
.Button--fill.Button--error:matches(:hover,:focus,:active,.is-active) {
  background-color:transparent;
  color:var(--ButtonFill-error-bgColor);
}
