{% include head.html %}
<body class="{{ page.class }}">
  <div class="animsition" data-animsition-in="{{ page.inAnimateClass }}" data-animsition-out="{{ page.outAnimateClass }}">

    {% include header.html %}

		<main role="main">

      <section class="docs-masthead">
        <div class="Container Container--slim">
  				<h1 class="t-mt-00">{{ page.title }}</h1>
  				<h2>{{ site.discription }}</h2>

          <div class="docs-carbon t-clear">
            {% include carbon.html %}
          </div>
        </div>
      </section>

	    {{ content }}

		</main>

    {% include footer.html %}

  </div><!-- /.animsition -->
</body>
</html>
