{{> include/head}}
<body class="{{file.meta.class}}" itemscope itemtype="http://schema.org/WebPage">

<div class="js-animsition animsition" data-animsition-in-class="{{file.meta.inAnimateClass}}" data-animsition-out-class="{{file.meta.outAnimateClass}}">

{{> include/header}}

<main role="main">
{{> include/pagehead}}
  {{#block "main"}}
  <section class="docs-Section Container Container--slim t-gutter">
    <h2>Demo</h2>
    {{> include/demo-links}}
  </section>

  <section class="docs-Section Container Container--slim t-gutter">
    <h2>Installation</h2>
{{> include/setup}}
  </section>
  {{/block}}
</main>

{{> include/footer}}

</div><!-- /.animsition -->
</body>
</html>
