{{> include/head}}
<body class="docs-Home" itemscope itemtype="http://schema.org/WebPage">
<div class="js-animsition-home animsition" data-animsition-in-duration="600">

<main role="main">
{{> include/pagehead}}

{{{block "content"}}}
</main>

{{> include/footer}}

</div><!-- /.animsition -->
</body>
</html>
