---
layout: sandbox
title: Callback2
base_url: "../../"
---
{{#extend "sandbox"}}
{{#content "content"}}
<section class="animsition" data-animsition-in="fade-in-left-sm" data-animsition-out="fade-out-right-sm">
  <h1>section.animsition</h1>

  <h2 class="animsition-state"></h2>
  <div class="animsition-child animsition-child--first">
    <h3>div.animsition-child</h3>
  </div>
</section>
<section class="animsition" data-animsition-in="fade-in-right-sm" data-animsition-out="fade-out-left-sm">
  <h1>section.animsition</h1>

  <h2 class="animsition-state"></h2>
  <div class="animsition-child animsition-child--second">
    <h3>div.animsition-child</h3>
  </div>
</section>
{{/content}}
{{/extend}}
