---
layout: sandbox
title: Overlay1
type: overlay
base_url: "../../"
---
{{#extend "sandbox"}}
{{#content "content"}}

<section>
  <h1 class="animsition-state"></h1>
  <div class="animsition-child animsition-child--first">
    <h2>div.animsition-child</h2>
  </div>
</section>
{{/content}}
{{/extend}}
