---
layout: sandbox
title: Overlay2
type: overlay
base_url: "../../"
---
{{#extend "sandbox"}}
{{#content "content"}}

<section>
  <h1>section.animsition</h1>

  <h2 class="animsition-state"></h2>
  <div class="animsition-child animsition-child--first">
    <h3>div.animsition-child</h3>
  </div>
</section>
<section>
  <h1 class="animsition-state"></h1>
  <div class="animsition-child animsition-child--second">
    <h2>div.animsition-child</h2>
  </div>
</section>
{{/content}}
{{/extend}}
