@import "sircus";
@import "animsition/dist/css/animsition.css";
@import "./header.css";
@import "./main.css";
@import "./footer.css";
@import "./icon.css";
@import "./button.css";
@import "./highlight.css";
@import "./sandbox.css";

:root {
  --docs-color: #556b7f;
  --docs-labels-bgcolor: #cbd5df;
  --docs-masthead-color: #fff;
  --docs-masthead-bgcolor: #242d35;
  --docs-masthead-gradient: #85a1bb;
  --docs-footer-bgcolor: #ebeef2;

  --Button-transition: all 200ms ease-out;
  --Button--pill: 5rem;

  --Button-notice-fill: transparent;
  --Button-notice-borderColor: #7bc1eb;
  --Button-notice-color: #7bc1eb;
  --ButtonFill-notice-color: #fff;
  --ButtonFill-notice-bgColor: #7bc1eb;

  --Button-success-fill: transparent;
  --Button-success-borderColor: #15a780;
  --Button-success-color: #18be91;
  --ButtonFill-success-color: #fff;
  --ButtonFill-success-bgColor: #18be91;

  --Button-error-fill: transparent;
  --Button-error-borderColor: #e84239;
  --Button-error-color: #eb5850;
  --ButtonFill-error-color: #fff;
  --ButtonFill-error-bgColor: #eb5850;
}
