.animsition-child {
  position: relative;
  opacity: 0;
  animation-fill-mode: both;
  animation-duration: .8s;
}


.animsition-overlay-wrapper {
  background-color: #ddd;
}


.animsition-overlay-wrapper--start {
  background-color: #fff;
}
