.docs-Footer {
  margin-top:var(--g-space-gt);
  padding-top:var(--g-space-xl);
  padding-bottom:var(--g-space-xl);
  background-color: var(--docs-color-primary-lighter);
}

.docs-Footer * {
  text-transform: uppercase;
}

.docs-Footer h4 {
  color: var(--docs-color-primary);
}

.docs-Footer p,
.docs-Footer li {
  font-size: var(--g-fontSize-xs);
}
