.docs-Footer {
  padding-top:var(--g-space-lg);
  padding-bottom:var(--g-space-lg);
  background-color: var(--docs-color-primary-lighter);
}

.docs-Footer li {
  text-transform: uppercase;
  font-size: var(--g-fontSize-sm);
}
