.docs-Nav a {
  line-height: 50px;
  padding-right: 15px;
  text-decoration: none;
  color: #fff;
  outline: 0;
}


.docs-Nav a:hover,
.docs-Nav a:focus {
  color: rgba(255, 255, 255, .5);
}


.docs-Nav-brand {
  text-transform: uppercase;
}


.docs-Nav li {
  text-align: right;
}
