---
layout: base
title: Fade down large
inAnimateClass : fade-in-down-lg
outAnimateClass : fade-out-down-lg
base_url: "../"
---
<div class="docs-Container Container Container--slim">
  <h2 class="docs-title">Demo</h2>
  <p class="lead"></p>
  <div class="section-body">
    {% include demo-links.html %}
  </div>
</div>

<div class="docs-Container Container Container--slim">
  <h2 class="docs-title">Installation</h2>
  <p class="lead"></p>
  <div class="section-body">
    {% include demo-setup.html %}
  </div>
</div>
