---
layout: base
title: Zoom small
inAnimateClass : zoom-in-sm
outAnimateClass : zoom-out-sm
base_url: "../"
---
<section class="docs-Container Container Container--slim">
  <h2 class="docs-title">Demo</h2>
  {% include demo-links.html %}
</section>

<section class="docs-Container Container Container--slim">
  <h2 class="docs-title">Sandbox</h2>
  {% include sandbox-link.html %}
</section>

<section class="docs-Container Container Container--slim">
  <h2 class="docs-title">Installation</h2>
  {% include setup.html %}
</section>
