body {
  font-family: 'Roboto', sans-serif;
  color:#777;
}

.icon-blivesta{
  width:16px;
  height:16px;
  display:inline-block;
  background-color: #fff;
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2216px%22%20height%3D%2216px%22%20viewBox%3D%220%200%2016%2016%22%3E%0A%09%3Cpath%20d%3D%22M8.773%2C0L4.781%2C3.991l3.993%2C3.991l-4.01%2C4.009L8.773%2C16H16V0H8.773z%20M12.398%2C13.703l-2.017-2.016l2.017-2.016l2.016%2C2.016%0A%09L12.398%2C13.703z%20M12.398%2C6.259l-2.017-2.016l2.017-2.016l2.016%2C2.016L12.398%2C6.259z%22/%3E%0A%3C/svg%3E");
  background-size: 16px;
  &.icon-sm {
    width:10px;
    height:10px;
    background-size: 10px;
  }
  &.icon-lg {
    width:24px;
    height:24px;
    background-size: 24px;
  }
  &.icon-circle{
    border-radius: 50%;
  }
}
//
.icon-mark{
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  color:$main-color-lighter;
  .oi {
    font-size: 54px;
  }
}

// header
//===========================================
.docs-header {
  background-color:transparent;
  position:absolute;
  width:100%;
  z-index:10;
  .Container  {
    height:5rem;
  }
}

.docs-brand {
  text-decoration:none;
  color: #fff;
  &:hover {
    color:rgba(255,255,255,.5);
  }
}

// footer
//===========================================
.docs-footer {
  padding-top:40px;
  padding-bottom:60px;
  font-size:13px;
  background-color: lighten($main-color-lighter,10);
}


// masthead
//===========================================
.docs-masthead {
  position:relative;
  padding-bottom:15px;
  padding-top: 60px;
  background-color: $main-color-dark;
  background-image: linear-gradient(
    45deg,
    $main-color-dark 0%,
    $main-color-light 100%
  );
  color:#fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, .1);
  h1{
    font-weight:700;
    margin-top:40px;
    margin-bottom:5px;
    font-size:48px;
  }
  h2{
    font-size:18px;
    margin:0 auto 20px;
  }
  a {
    color:#fff;
    text-decoration:none;
  }
}


// docs
//===========================================
.docs-home{
  .docs-masthead {
    padding-bottom:80px;
    h1 {
      font-size:64px;
    }
  }
  .docs-footer {
    text-align:center;
  }
}

.docs-Container{
  padding-top:30px;
  padding-bottom:30px;
  border-bottom: 1px solid #ddd;
  &:last-child{
    border-bottom: none;
    padding-bottom: 60px;
  }
}

.docs-title{
  font-weight:700;
  color:$main-color;
}
.docs-subtitle{
  font-weight:700;
  color:$main-color;
  margin-top: 40px;
  margin-bottom: 20px;
}

.docs-labels{
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  background-color: $main-color-lighter;
  color:$main-color;
  padding:5px 10px;
  display: inline-block;
  font-weight: 100;
  margin-bottom: 10px;
  border-radius: 2px;
  font-size:12px;
}


// carbon
//===========================================
.docs-carbon {
  background: #fff;
  background: rgba(255,255,255,0.2);
  border-radius: 4px;
  padding: 15px;
  z-index: 99;
  max-width: 340px;
  text-align: left!important;
  font-size:12px;
  margin:0;
  margin-bottom:30px;
}
.carbon-wrap {
  .carbon-img {
    float:left;
    width:145px;
    img {
      margin-right:15px;
    }
  }
}
.carbon-poweredby{
  margin-top:10px;
  display:block;
}


.animsition-child {
  position: relative;
  opacity:0;
  -webkit-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;

  animation-duration: .8s;
  -webkit-animation-duration: .8s;
  -moz-animation-duration: .8s;
}

.animsition-overlay-wrapper {
  background-color: #ddd;
}
.animsition-overlay-wrapper--start{
  background-color: #fff;
}
